body{
    margin: 0;
    padding: 0;

}

img{
    width: 50%;
    height: 20%;
}

h1{
    font-size: 10px;
}

header{
    height: 120px;
    background-color: brown;
}

main{
    height: 100vh;
}

footer{
    height: 120px;
    background-color: brown;
}

.pesquisa{

    margin: 50px;
    border: 1px solid black;
}

