

body{
    margin: 0;
    padding: 0;
}

#text-procurarPokemon{
    font-weight: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: center;
    border: 1px;
    width: 100vw;
    height: 500px;
    gap: 10px;
}

.pesquisa{
    display: block;
    text-align: center;
    height: 100px;
    gap: 10px;
}



h1{
    font-size: 10px;
}


header{
    display: flex;
    justify-content: center;
    height: 15vh;
    background-color: brown;
}

main{
    height: 70vh;
    display: block;
    text-align: center;
    margin: 10px;
}

footer{
    height:15vh;
    background-color: brown;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
}

p{
    padding: 10px;
}


button {
    border-radius: 10px;
    background-color: #b83b44;
}

@media (max-width: 500px) {
    @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Oxanium', cursive;
    }
    
    body {
      text-align: center;
      min-height: 100vh;
    }
    

    main {
      display: inline-block;
      margin-top: 8%;
      padding: 15px;
      position: relative;
    }
    

    #pic2 {
        display: none;
    }
    .pokemon {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    button {
        border-radius: 10px;
        background-color: #c1121f;
    }
    

    
}



